# IDE and Editors
.idea
.vscode

# Distribution
**/dist
packages/**/charts
packages/**/*.tgz
images/**/*.tgz
**/.env
.env

# Package Managers
**/node_modules
node_modules
**/.turbo
.turbo

# Temporary files
**/.terraform
**/.terraform.lock.hcl
**/.terraform.plan
**/temp
**.log
