# IDE and Editors
.idea/workspace.xml
.vscode

# Distribution
**/dist
**/.env
.env

# NPM / Yarn
**/node_modules
node_modules

# Temporary files
**/.terraform
**/.terraform.lock.hcl
**/.terraform.plan
**/temp
**.log
