ANSIBLE_HOSTS="{{ premise_hostname }}"

PREMISE_SERVER_FQDN="{{ premise_domain }}"

PREMISE_INTERNAL_CIDR="{{ premise_internal_cidr }}"
PREMISE_INTERNAL_DHCP_RANGE="{{ premise_internal_dhcp_begin }},{{ premise_internal_dhcp_end }}"
PREMISE_INTERNAL_IP="{{ premise_internal_ip }}"
