{
  "id": "fedora-coreos-install",
  "name": "Fedora CoreOS install to disk",
  "boot": {
    "kernel": "/assets/fedora-coreos/fedora-coreos-{{ coreos_version }}-live-kernel-x86_64",
    "initrd": [
      "/assets/fedora-coreos/fedora-coreos-{{ coreos_version }}-live-initramfs.x86_64.img",
      "/assets/fedora-coreos/fedora-coreos-{{ coreos_version }}-live-rootfs.x86_64.img"
    ],
    "args": [
      "coreos.inst.install_dev=/dev/sda",
      "coreos.inst.ignition_url=http://{{ internal_ip }}:8080/ignition?uuid=$${uuid}&mac=$${mac:hexhyp}",
      "coreos.inst.image_url=http://{{ internal_ip }}:8080/assets/fedora-coreos/fedora-coreos-{{ coreos_version }}-metal.x86_64.raw.xz",
      "console=tty0",
      "console=ttyS0"
    ]
  },
  "ignition_id": "fedora-coreos.ign"
}
